li{
    list-style:none;
}
.block{
    margin: 0 auto !important;
}
footer{
    position:fixed !important;
    bottom:0 !important;
}
html, body , #root{
    position:relative;
    height: 90% !important;
}
@mixin blockView {
    border:1px solid black;
    display: block !important;
    height: 100% !important;
}
.preview,.editor {
@include blockView()
}
.preview{
    overflow-y: auto;
}

section{
    height:100% !important;
}
svg {
    height: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}


