li{
    list-style:none;
}
textarea{
    resize: none !important;;
    border:1px black solid;
}
.block{
    margin: 0 auto !important;
}
footer{

    border:solid 3px black;
}
html, body , #root{

    height: 100% !important;

}
.preview {
border:1px solid blue;
display: block !important;
height: 100% !important;

}
section{
    height:90% !important;
}